@{
    ViewData["Title"] = "Home Page";
}
<h1>The Joel Hilton Film Collection</h1>
<div class="text-center">
  <p>Meet Joel</p>
    <img src="~/img/joelphoto.jpg" height="500"/>
</div>

<br />

<div>
    <a >Add a Movie to the collection</a>
</div>