@{
    ViewData["Title"] = "Home Page";
}
<h1>The Joel Hilton Film Collection</h1>
<div class="text-center">
  <p>Meet Joel</p>
    <img src="~/img/joelphoto.jpg" height="300"/>
</div>

<br />
<div>
    <a asp-controller="Home" asp-action="gtkJoel">Get To Know Joel</a>
</div>
<br />

<div>
    <a asp-controller="Home" asp-action="MovieForm">Add a Movie Rating to the collection</a>
</div>
